.travels{
    height: 150px;
}

#menu ul{
    text-decoration: none;
    list-style: none;
    line-height: 50px;
    text-align: center;

}
.titulo{
    text-align: center;
}
.presentacion{
    text-align: center;
}